<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
    <img src="/assets/logoSopra.png" alt="" width="50" height="40" class="d-inline-block align-text-top">
    Menu congés
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <ng-container *ngIf="!utilisateur; else auth">
        <li class="nav-item">
          <button class="btn btn-outline-success me-2" type="button"(click)="log()" >Connexion</button>
        </li>
     </ng-container>
     <ng-template #auth>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consultation-conge-emp" routerLinkActive="active">Gérer ses congés</a>
      </li>
      <ng-container *ngIf="isVisible()">
      <li class="nav-item">
        <a class="nav-link" routerLink="/validation-conge"  routerLinkActive="active">Validation demandes en attentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consultation-conge-mang" routerLinkActive="active">Consultation congés employés</a>
      </li>
    </ng-container>
      <li class="nav-item">
        <button class="btn btn-outline-danger" type="button" (click)="logout()">Deconnexion</button>
      </li>
     </ng-template>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
