<h1>Bienvenue {{ login }}</h1>

<!-- <tr> <b>MENU</b>  </tr>
<br>
<button (click)="nouvelleDemande()" class="btn btn-outline-success">Nouvelle demande de conge</button>
<br>
<button (click)="voirSesConges()" class="btn btn-outline-warning">Voir ses conges</button>
<br>
<a *ngIf="isVisible()" routerLink="/validation-conge" class="btn btn-link" routerLinkActive="active"> Validation des demandes en attentes</a>
<br>
<a *ngIf="isVisible()" [routerLink]="['/consultation-conge-mang']" routerLinkActive="router-link-active"> Regarder les conges des employes</a> -->
