<h1 class="text-center">Menu manager</h1>

<div class="card">
  <div class="card-header">
    Validation des congés
    <input
      id="id"
      [(ngModel)]="idManager"
      class="form-control"
      placeholder="idManager"
    />
    <br />
    <input
      id="dateDeb"
      type="date"
      [(ngModel)]="dateDebut"
      class="form-control"
    />
    <input
      id="dateFin"
      type="date"
      [(ngModel)]="dateFin"
      class="form-control"
    />
    <button (click)="this.list()" class="btn btn-outline-success">Ok</button>
  </div>
  <div class="card-body">
    <table class="table">
      <tr>
        <th class="">Demandeur</th>
        <th>Date demande</th>
        <th>Période</th>
        <th>Type</th>
        <th>Motif</th>
        <th>Statut</th>
      </tr>
      <tr *ngFor="let conge of conges">
        <td>
          <div class="card">
            <div class="card-header">
              {{ conge.demandeur.nom }}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ conge.demandeur.mail }}</li>
            </ul>
          </div>
        </td>
        <td>
          <input type="date" value="{{ conge.dateDemande }}" disabled />
        </td>
        <td>
          <input type="date" value="{{ conge.dateDebut }}" disabled />
          <br />
          <input type="date" value="{{ conge.dateFin }}" disabled />
        </td>
        <td class="">
          <button
            type="button"
            class="btn"
            [ngClass]="{
              'btn-primary': conge.typeConge == enumTypeConge.congePaye,
              'btn-secondary': conge.typeConge == enumTypeConge.congeSansSolde,
              'btn-light': conge.typeConge == enumTypeConge.absenceAutorisee,
              'btn-info': conge.typeConge == enumTypeConge.absenceJustifiee
            }"
          >
            {{ conge.typeConge }}
          </button>
        </td>
        <td>
          <input type="text" value="{{ conge.motifConge }}" disabled />
        </td>
        <td class="">
          <button
            type="button"
            class="btn"
            [ngClass]="{
              'btn-warning': conge.statutDemande == 'attente',
              'btn-success': conge.statutDemande == 'accepte',
              'btn-danger': conge.statutDemande == 'refuse'
            }"
          >
            {{ conge.statutDemande }}
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
